
<!-- 'mat-button','mat-raised-button', 'mat-flat-button','mat-stroked-button','mat-icon-button','mat-fab','mat-mini-fab' -->
<button  (click)="toggle()" [color]="showTable ? 'primary' : 'warn'"  style="width: 100%;" mat-raised-button color="warn">{{showTable?  'Add Student':'Show Table'}}</button>
<br>

<ng-container  *ngIf="!spinner">
  <table *ngIf="showTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element let i = index;"> {{i+1}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Roll No Column -->
    <ng-container matColumnDef="rollno">
      <th mat-header-cell *matHeaderCellDef> Roll No </th>
      <td mat-cell *matCellDef="let element"> {{element.roll_no}} </td>
    </ng-container>


       <!-- Delete Column -->
       <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>  Delete </th>
        <td mat-cell *matCellDef="let element">

            <button  mat-icon-button >
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      
    </tr>
    
  </table>
  <br>
  <h1 *ngIf="showTable">Total Students  : {{totalStudent}}</h1>
  
</ng-container>



 

<ng-container *ngIf="showForm" >
  <div class="formStyle">
    <form [formGroup]="addStudent"   (ngSubmit)="fnSubmit()">
      <p class="massage"  [style.color]="error ? 'red' :null" >
         {{error? 'Name and Rollno unique  ':null}}
      </p>
      <mat-form-field  appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Placeholder">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
     
      <mat-error >Enter Name</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
      <mat-label>Class</mat-label>
      <mat-select  formControlName="class_id" placeholder="Placeholder">
      <mat-option >Option</mat-option>
      <mat-option *ngFor="let option of classId" [value]="option.id">{{option.class}}</mat-option>
      </mat-select>
      
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
      <mat-label>Rollno</mat-label>
      <input matInput  formControlName="roll_no" placeholder="Placeholder">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
     
      <mat-error >Only Numeric value</mat-error>
      </mat-form-field>
      
      <button mat-raised-button  style="color: black;">
        {{ formMessage ? null:'Save'}}
        <mat-spinner *ngIf="formMessage"  diameter="25" style="align-items: center;"></mat-spinner>
      </button>
      
     
  </form>
  </div>
</ng-container>



<div style="width: 60%; margin-left: 40%;">
  <mat-spinner *ngIf="spinner" mode="indeterminate"></mat-spinner>
 </div>


