

<mat-grid-list  cols="1" rowHeight="70vh">

<mat-grid-tile>

<mat-card class="card">
    <form [formGroup]="studentForm" (ngSubmit)="fnSumbit()" >
        <h2 [style.background-color]="formMeassage? 'green':null">
          
            {{formMeassage ? 'Create Item':null}}

        </h2>
        
        <h1>Add Class</h1>
        <mat-form-field appearance="standard">
        <mat-label>Class</mat-label>
        <input matInput formControlName="class" placeholder="Placeholder">
        <mat-error >  This field is requred</mat-error>
        </mat-form-field>
      <mat-divider ></mat-divider>
    
      <button [disabled]="studentForm.invalid" type="submit" mat-raised-button >
        {{spinner ? null:'Save'}}
        <mat-spinner  *ngIf="spinner" diameter="25" style="align-items: center;"></mat-spinner>

      </button>
    </form>
</mat-card>
</mat-grid-tile>


</mat-grid-list>

